.home-container {
    background-image: url("https://img.freepik.com/free-vector/stylish-glowing-digital-red-lines-banner_1017-23964.jpg?size=626&ext=jpg&ga=GA1.2.214274682.1690358573&semt=ais");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background: rgb( 1,87,97 );
    // background: linear-gradient(90deg, rgb(107, 107, 108) 0%, rgb(105, 108, 102) 50%, rgb(130, 145, 148) 100%);

    .title {
        margin: 0;
        padding: 0;
        color: #fff;
        width: 500px;
        place-self: center;
        margin: auto;
        text-align: left;

        .hello {
            font-size: 20px;
            font-weight: 500;
            margin: 0 0 10px;
        }

        .name {
            font-size: 40px;
            font-weight: 700;
            line-height: 1;
            margin: 0 0 10px;
        }

        .subTitle {
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 15px;
        }

        .text {
            font-size: 14px;
            max-width: 300px;
            min-height: 40px;
        }

        .button {
            background: #2fbf71;
            color: #ffff;
            box-shadow: 4px 4px #ffff;
            padding: 0 25px;
            line-height: 42px;
            position: relative;
            display: inline-block;
            border: 1px solid transparent;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 2px;
            text-decoration: none !important;
            -moz-transition: ease all 0.35s;
            -o-transition: ease all 0.35s;
            -webkit-transition: ease all 0.35s;
            transition: ease all 0.35s;

            &:hover {
                background: #ffff;
                color: #2fbf71;
                box-shadow: 4px 4px #2fbf71;
            }
        }
    }

    $avatar-size: 200px; // You can adjust the avatar size if needed
    $avatar-border-color: #42b983; // Border color
    $antenna-color: #f39c12; // Antenna color

    // Mixin to create a circular shape
    @mixin circle($size) {
        width: $size;
        height: $size;
        border-radius: 50%;
    }

    // SCSS for the avatar
    .avatar-body {
        position: relative;



        // Add styles for the circular avatar
        @include circle($avatar-size);
        border: 5px solid $avatar-border-color;
        background-color: #f0f0f0; // You can change the background color of the avatar here

        .avatar {
            width: 100%;
            height: 100%
        }
    }

    // SCSS for the antenna
    .avatar-antenna {
        position: absolute;
        top: -30px;
        left: 50%;
        width: 4px;
        height: 40px;
        background-color: $antenna-color;
        transform-origin: bottom;
        animation: antennaAnimation 2s infinite;
    }

    // Keyframes for the antenna animation
    @keyframes antennaAnimation {

        0%,
        100% {
            transform: rotateZ(0);
        }

        50% {
            transform: rotateZ(5deg);
        }
    }
}

/* Media queries for responsiveness */
@media (max-width: 800px) {
    .avatar-body {
        width: 100%;
        margin: auto;

        .avatar {
            width: 100%;
            height: 100%;
            margin: auto;
        }
    }

    .home-container {

        .title {
            margin: 0;
            padding: 0;
            color: #fff;
            width: 100%;
            place-self: center;
            margin: auto;
            text-align: center;

            .hello {
                font-size: 20px;
                font-weight: 500;
                margin: 0 0 10px;
            }

            .name {
                font-size: 40px;
                font-weight: 700;
                line-height: 1;
                margin: 0 0 10px;
            }


            .text {
                font-size: 14px;
                min-height: 40px;
                text-align: center;
                margin: auto;
            }
        }
    }
}