.navigation {
    background: #0c0c14;
    height: 100vh;
    position: fixed;
    // width: 100%;
    // max-width: 20%;
    width: inherit;

    .navigation-body {
        .profile {
            margin: auto;
            height: 250px;

            .avatar-body {
                background: #2fbf71;
                border-bottom-left-radius: 20%;
                border-bottom-right-radius: 80%;
                padding: 20px;
                height: 150px;
                width: 100%;
                max-width: -webkit-fill-available;
                .avatar {
                    border: 3px solid #ffffff;
                    width: 100px;
                    height: 100px;
                }
            }

            .text {
                color: #ffffff;
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;
                font-size: larger;
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 7px;
                color: #fff;

                &:hover {
                    transition: ease all 0.5s;
                    font-size: 16px;
                    letter-spacing: 4px;
                }
            }
        }

        .list {
            flex: 1;
            color: rgb(209, 207, 207);

            .dividerColor {
                background-color: rgb(45, 44, 44);
            }

            .MuiListItemButton-root {
                color: #ffff;
                transition: ease all 0.5s;
                text-transform: uppercase;

                .MuiListItemIcon-root {
                    color: #ffff;
                    transition: ease all 0.5s;
                    text-transform: uppercase;
                }

                &:hover {
                    .MuiListItemIcon-root {
                        color: #17ad0f;
                    }

                    .MuiListItemText-primary {
                        color: #17ad0f;
                        letter-spacing: 2px;
                        transition: ease all 0.5s;
                    }
                }
            }
        }

        .contact-links {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 12px 0;
            color: #fff;
            display: flex;
            margin: auto;
            place-content: center;

            svg {
                padding: 10px;
            }
        }
    }

    // Mobile styles
    // @media screen and (max-width: 600px) {
    //   .navigation-body {
    //     .profile {
    //       .avatar-body {
    //         height: 100px;
    //       }

    //       .text {
    //         font-size: 12px;
    //         letter-spacing: 5px;
    //       }
    //     }

    //     .list {
    //       .MuiListItemButton-root {
    //         .MuiListItemIcon-root {
    //           font-size: 18px;
    //         }

    //         .MuiListItemText-primary {
    //           font-size: 14px;
    //         }
    //       }
    //     }

    //     .contact-links {
    //       svg {
    //         font-size: 20px;
    //       }
    //     }
    //   }
    // }
}

@media (max-width: 700px) {
    .navigation {
        min-width: 33.33%;
        max-width: 50%;

        .navigation-body {
            max-width: -webkit-fill-available;
            max-width: fit-content;

            .list {
                svg {
                    margin-left: 15px;
                }
            }
        }
    }
}

.btn-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    /* Add overflow to hide overflowing content */
    padding: 10px 20px;
    background-color: #2fbf71;
    color: #fff;
    font-size: 20px;
    font-weight: bold;

    h1 {
        font-weight: 600;
        color: #fff;
        font-size: 25px;
        line-height: 1;
    }

    .toggler-menu {
        width: 40px;
        height: 40px;
        position: sticky;
        // margin: 0;
        border-radius: 0;
        // padding: 0;
        margin-left: 15px;
        background: #2fbf71;
        border: none;
        margin-left: auto;
        float: right;
        right: 5px;
        position: fixed;
        color: #ffff;
    }



}

@media (max-width: 600px) {
    .btn-con {
        flex-direction: column;
        /* Stack the elements vertically */
        align-items: flex-start;
        /* Align elements to the start of the container */
        padding: 20px;
        /* Increase padding for better spacing on mobile */
    }

    h1 {
        font-size: 24px;
        /* Adjust font size for better visibility on mobile */
        margin-bottom: 10px;
        /* Add margin for spacing between h1 and button */
    }

    .navigation {
        .navigation-body {
            .profile {
                .avatar-body {
                    .avatar {
                        width: 100px;
                        height: 100px;
                        margin: 'auto';
                    }
                }
            }
        }
    }
}